<!DOCTYPE html>

<html>
<head>
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    HealthBridge
</div>

<div class="container">
    <h1>Welcome to Hospital Management System</h1>
    <p>Manage patient records easily and efficiently</p>

<div class="card">
    <h2>Add Patient</h2>
    <a href="/add_patient">Go</a>
</div>

<div class="card">
    <h2>View Patients</h2>
    <a href="/view_patients">Go</a>
</div>

</div>

<div style="text-align:center; margin-top:50px; color:#555;">
    © 2026 Hospital Management System
</div>

</body>
</html>
